/*print style*/
body {
	background-color: transparent;
	font-size: 11pt;
	font-family:'Times New Roman',Times,serif;
	color:#000000;
 }

a {
	text-decoration: none;
	color: #000000;
	background-color:transparent;

}



