body {
  background: url('https://files.deepumohan.com/images/grain.gif');
  font-family: 'Arvo','Vollkorn',Georgia, serif, 'Trebuchet MS';
}

#main {
  background: #fff;
  box-shadow: 0 0 6px #ccc;
  /*width: 920px;*/
  padding-bottom: 20px;
  margin-bottom: 20px;
}

header {
  margin-top: 5px;
}

header h1 a { font-size: 1.3em;}

#brand {float: left;}

.addr {
  border-left: 1px solid #ccc;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 5px;
  font-size: 8pt;
  float: right;
}

.addr .help-block { margin-top: 0; margin-bottom: 0;}

section h2 {
  font-size: 1.3em;
  border-bottom: 1px solid #ccc;
  margin-top: 5px;
  margin-bottom: 5px;
}

section h3 { font-size: 1.3em; }

abbr[title] { border-bottom: 0; }

a {
  text-decoration: none;
  color: #231f20;
  -webkit-transition: color .5s ease;
  -moz-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}

a:hover {
    text-decoration: none;
    color: #0caee3;
    -webkit-transition: color .5s ease;
    -moz-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
}

.item a {  border-bottom: 1px dotted #ccc;}
.item .row {margin:0;}
